#game div {
  border: 3px solid black;
  border-radius: 8px;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
}

#start-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(183,85,85,0.72), rgba(255,217,217,0.72));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transition: height 1s cubic-bezier(.17,.67,.83,.67);
  height: 100%; */
}

button{
  background-image: linear-gradient(to right, rgba(141,56,148,0.73), rgba(233,204,235,0.73));
  width: 150px;
  height: 50px;
  border-color: cornflowerblue;
  border-radius: 15px;
  margin-top: -20px;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s ease-in-out;
  box-sizing: border-box;
}
button:hover{
  background-image: linear-gradient(to right, rgba(50,152,247,0.73), rgba(110,247,125,0.73));
  border-color: gray;
}
p{
  color: rgba(255,255,255,0.72);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin-top: -30px;
}
#start-emoji{
  display: flex;
  justify-content: center;
  align-items: center;
}
#game-div {
  display: none;
}

body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(183,85,85,0.72), rgba(255,217,217,0.72));
}

h1, h2{
  color: rgba(255,255,255,0.72);
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 10px;
}

.card{
  font-size: 6em;
  text-align: center;
  line-height: normal;
  padding-top: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(206,117,250,0.72), rgba(220,208,221,0.99));
}
/* .clicked{
  transition: background-image 5s ease-in-out, opacity 1.5s ease-in-out;
} */



